<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>{% block title %} Sortir {% endblock %}</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="{{ asset('img/Logo.svg') }}" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/css.css') }}">


</head>
<body>
{% block body %}

<!-- Responsive navbar-->
    {% include 'nav/nav.html.twig' %}

<!-- Page content-->



<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
{% endblock %}
</body>
<footer>
    {% block footer %} <div class="copyright"> <b class="text-black ">&copy;Sortir.fr {{ 'now'| date('Y')}} </b> </div>  {% endblock %}
</footer>
</html>